/* education */
.education {

  &--item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 5px;
    }
  }

  &--uniResultsWrapper {
    margin-left: 20px;
  }
  
  &--uniResults {
    margin-right: 20px;
  }
  
}
